.navUL{
    width: 100%;
    display: flex;
    justify-content: space-around;
    }

.container{
    font-family: 'Noto Serif Georgian', serif;
}

.act{
    cursor: pointer;
    color: black;
}
.active, .act:hover {
    background-color: #666;
    color: white;
}

.active {
    background:#1c1e24;
    color: white;
    overflow:hidden;
    border-left:2px solid rgb(223, 223, 223);
    padding:8px;
    
}

.navbar #nav > .active > a {
    color: red;
}

/* .css1{
    background-color:yellow;
    font-size:50px;
    font-family: georgia;
    font-style:italic;
    font-weight:bold;
    color:purple;
    text-shadow: 2px 2px 8px #FF0000;
} */