{% extends './root.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container" style="height: 51vh;">
        <div class="align-item-center">
            <div class="justify-content-center">
                <!-- heading -->
                <div class="div row mt-3">
                    <div class="col-4"></div>
                    <div class="row col-4">
                        <div class="col-3"></div>
                        <div class="col-5">
                            <h3><b>About Us</b></h3>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="col-4"></div>
                </div>
                
                <p class="mt-4" style="font-size: 19px;">
                    Leo vel fringilla est ullamcorper. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Sapien nec sagittis aliquam malesuada bibendum arcu. 
                </p>
                <p class="mt-3" style="font-size: 19px;">
                    Felis imperdiet proin fermentum leo vel orci porta. Sagittis aliquam malesuada bibendum arcu 
                    vitae elementum curabitur vitae nunc.
                </p>
                <p class="mt-3" style="font-size: 19px;">
                    A cras semper auctor neque vitae tempus quam pellentesque. 
                    Odio pellentesque diam volutpat commodo sed. Pellentesque habitant morbi tristique senectus et netus et. Neque laoreet suspendissei.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}