        
        <section>
            <div class="row" style="background-color: black;">
                <div class="col-3">
                    <p class="text-white pt-3" style=" height: 55px; font-size: larger;"> 
                        <b>Breaking News!!</b>
                    </p>
                </div>
                <div class="col-9 ">
                    <marquee class=" align-item-center pt-3"
                        style="
                        height: 50px;
                        font-size:20px;
                        /* font-family: georgia; */
                        font-style:italic;
                        /* font-weight:bold; */
                        color:rgb(255, 255, 255);
                        /* text-shadow: 2px 2px 8px #FF0000; */
                        "> 
                        This week russia declared war against india and nepal went to rescue their neighbouring brother country..
                    </marquee>
                </div>
            </div>
        </section>