<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/root.css">
    <link rel="stylesheet" href="/static/css/contact.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300;400&display=swap" rel="stylesheet">

</head>
<body> -->
{% extends './root.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="container">
            <div class="row mt-5">
                <div class="col-10 ">
                    <h3 class="me-4"><b>Contact Us</b></h3>
                    <div class="mt-5 ">
                        <div class="rect" style="border: 2px solid black; width: 600px; height: 300px; border-radius: 20px; ">
                            <div class="col  d-flex mt-5 pt-4 ps-4" style="margin-left: 50px;">
                                <i class="fa-solid fa-phone "></i>
                                <p class=" ps-5"> Phone number : 982349034</p>
                            </div>
                            <div class="col  d-flex mt-4 ps-4" style="margin-left: 50px;">
                                <i class="fa-solid fa-envelope "></i>
                                <p class="ps-5"> For quesries : query@Infodaily.com</p>
                            </div>
                            <div class="col  d-flex mt-4 ps-4" style="margin-left: 50px;">
                                <i class="fa-solid fa-rectangle-ad"></i>
                                <p class="ps-5"> For Advertisement : marketing@Infodaily.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 v-ad">
                    <img src="/static/images/ad1.png" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!-- </body>
</html> -->


