
{% extends './root.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="container">
            <div class="row mt-5">
                <div class="col-10 ">
                    <h3 class="me-4"><b>Contact Us</b></h3>
                    <div class="mt-5 ">
                        <div class="rect col-sm-12" style="border: 2px solid black; width: 600px; height: 300px; border-radius: 20px; ">
                            <div class="col  d-flex mt-5 pt-4 ps-4" style="margin-left: 30px;">
                                <i class="fa-solid fa-phone "></i>
                                <p class=" ps-5"> Phone number : 982349034</p>
                            </div>
                            <div class="col  d-flex mt-4 ps-4" style="margin-left: 30px;">
                                <i class="fa-solid fa-envelope "></i>
                                <p class="ps-5"> For quesries : query@Infodaily.com</p>
                            </div>
                            <div class="col  d-flex mt-4 ps-4" style="margin-left: 30px;">
                                <i class="fa-solid fa-rectangle-ad"></i>
                                <p class="ps-5"> For Advertisement : marketing@Infodaily.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-2 v-ad">
                    <img src="/static/images/ad1.png" alt="">
                </div> -->
            </div>
        </div>
    </section>
{% endblock %}



