

<section>
    <!-- Date-portion -->
    <div class="row">
        <div class="col-sm-4 mt-2">
            <div class="input-group  " >
                <form action="/search" class="row d-flex" method="GET">
                    <input class="col form-control py-2 rounded-pill mr-1 pr-5" type="text"  name="query" id="example-search-input" placeholder="search news.." style="border: 1px solid black; width: 200px;">
                    <span class="col input-group-append">
                        <button class="col btn rounded-pill border-0 ml-n5" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </form>
            </div>
            
        </div>
        <div class="col-4 d-none d-sm-block d-md-block "></div>
        
        <div class="col-4 float-right d-flex justify-content-end  text-align-end">
            <p style="padding-right: 5px; margin-right: 4px; margin-top: revert;"> Saturday, 15th July 2023 </p>
            <br> 
            
            {% if user.is_authenticated %}
                <!-- Display when user is logged in -->
                <button type="button" class="btn text-white mt-2 me-3"  style="background-color: rgb(0, 0, 0);  height: 30px; padding-bottom: 34px;" >
                    <a class="mb-2" style="color: aliceblue;" href="/profile">Profile</a>
                </button>
                <button type="button" class="btn text-white mt-2 "  style="background-color: rgb(188, 25, 25);  height: 30px; padding-bottom: 34px;" >
                    <!-- <a  class="text-white" href="/logout">Logout</a> -->
                    <a class="text-white" href="{% url 'logout' %}">Logout</a>
                </button>
            {% else %}
                <!-- Display when user is not logged in -->
                <button type="button" class="btn text-white mt-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: rgb(56, 55, 55); height: 30px; padding-bottom: 34px;">
                    <a style="color: white;" href="/login">Login</a>
                </button>
            {% endif %}
            
            
        </div>
    </div>
</section>