

{% extends './root.html' %}
{% load static %}
{% block content %}


    <section>
        <div class="container">
            <div class="row pt-5">
                {% for news in newws %}
                <div class="col-4">
                    <div class="card">
                        <img src="{{news.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body pe-0">
                            <div class="rounded-category">{{news.category}}</div>
                            <p class="card-text">{{news.desc|linebreaksbr}}
                                <a href="#" class="card-link text-dark">read more</a>
                            </p>
                            
                        </div>
                        
                    </div>
                </div>
                {% endfor %}

                
                <!-- <div class="col-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                                <a href="/catnews" class="card-link text-dark">read more</a>
                            </p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                        <img src="/static/images/right-third.png" class="card-img-top" alt="...">
                        
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <img src="/static/images/sec-part.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="rounded-category">Politics</div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                                <a href="#" class="card-link text-dark">read more</a>
                            </p>                        
                        </div>
                    </div>
                </div> -->
                

            </div>

            <div>
                
            </div>
            <!-- button -->
            <div class="row">
                <div class="col-4"></div>
                <div class="row col-4">
                    <div class="col-4"></div>
                    <button class="btn rounded-category col-4" style="text-align: center;">load more</button>
                    <div class="col-4"></div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </section>

{% endblock%}
