{% extends './root.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="align-item-center">
            <div class="justify-content-center">
                <!-- heading -->
                <div class="div row mt-3">
                    <div class="col-4"></div>
                    <div class="row col-4 align-item-center">
                            <h3><b>Privacy Policy</b></h3>                            
                    </div>
                    <div class="col-4"></div>
                </div>

                <!-- content -->
                <p class="mt-4" style="font-size: 19px;">
                    This Privacy Policy InfoDaily.com's practices and procedures with respect to collection, storage and use of cookies; collection, storage and use of Personally Identified Information (PII) and aims at informing users on how we manage the information we collect and receive.                
                </p>
                <p class="mt-3" style="font-size: 19px;">
                    1. Information Collection: The policy should describe the types of information collected from users, such as personal information (name, email address, etc.) and non-personal information (IP address, browser type, etc.). It may also mention the use of cookies or similar technologies for tracking purposes.
                </p>
                <p class="mt-3" style="font-size: 19px;">
                    2. Use of Information: The policy should explain how the collected information is used. For example, news portals may use personal information to deliver newsletters, personalize content, or provide targeted advertising. They may use non-personal information for analytics or to improve the website's functionality.
                </p>

                <p class="mt-3" style="font-size: 19px;">
                    3. Information Sharing: The policy should clarify if and how user information is shared with third parties. This may include sharing with advertisers, analytics providers, or affiliated organizations. It should also state whether the news portal sells or discloses user information to other parties.
                </p>

                <p class="mt-3" style="font-size: 19px;">
                    4. Security Measures: The policy should detail the security measures in place to protect user information from unauthorised access, loss, or disclosure. This may include encryption, secure data storage, and regular security assessments.
                </p>

                <p class="mt-3" style="font-size: 19px;">
                    5. User Rights: The policy should explain the rights users have regarding their personal information, such as the right to access, correct, or delete their data. It should also provide information on how users can exercise these rights.
                </p>

                <p class="mt-3" style="font-size: 19px;">
                    6. Third-Party Links: If the news portal includes links to third-party websites, the policy should clarify that it does not control the privacy practices of those websites and that users should review the privacy policies of those sites.
                </p>

                <p class="mt-3" style="font-size: 19px;">
                    7. Policy Updates: The policy should state that it may be updated from time to time, and how users will be notified of any changes.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}