<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Georgia&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Helvetica&display=swap"
      rel="stylesheet"
    />
    <link href="/static/css/prof.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="v40_457">
      <div class="v40_582">
        <div class="v40_580"></div>
        <span class="v40_581">Change details</span>
        <div class="v40_579">
          <span class="v40_578"
            >A cras semper auctor neque vitae tempus quam pellentesque. Odio
            pellentesque diam volutpat commodo sed.</span
          ><span class="v40_575">Name :</span
          ><span class="v40_576">Email :</span
          ><span class="v40_577">Description :</span
          ><span class="v40_573">Kripa Thapa</span
          ><span class="v40_574">kripathapa2002@gmail.com</span>
        </div>
        <span class="v40_568">Profile</span>
        <div class="v49_210"></div>
      </div>
      <div class="name"></div>
      <div class="name"></div>
      <div class="name"></div>
      <div class="name"></div>
    </div>
  </body>
</html>
