

{% extends './root.html' %}
{% load static %}
{% block content %}

<!-- ### profile content -->
            <section style="height: 51vh;">
                <div class="col" style="height: 50px; "></div>
                <div class="row justify-content-center">
                    <div class="card mb-3 justify-content-center" 
                        style="width: 50%;  border: 1px black solid; border-radius: 42px;
                        box-shadow: 0px 4px 3px 0px #00000040;
                        box-shadow: 0px 4px 4px 5px #00000040;">
                        <div class="row mt-4">
                            <div class="col-4 " ></div>
                            <div class="col-md-4 col-sm-12">
                                <p class="pb-3 m-0 ms-2" style=" font-size: 25px;">Profile</p>
                            </div>
                        </div>
                        <div class="row ms-2 g-0">
                                <div class="col-md-4 col-sm-12">
                                    <img src="/static/images/right-first.png" class="img-fluid mb-2" alt="..." 
                                    style="border-radius: 100%; height: 170px; width: 170px; border: 1px black solid ;">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                    
                                        <p class="card-text col-sm-12">Name : {{user.username}}</p>
                                        <p class="card-text  col-sm-12">Email : {{user.email}}</p>
                                        
                                        <div class="row mb-4">
                                            <div class="col-7 d-none d-md-block"></div>
                                            <div class="col-5">
                                                <a href="/edit_profile"><button  class="btn btn-dark" >Change details</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div> 
                </div>
            </section>
            
            
            <!-- ### profile content end -->

{% endblock %}