
            <section>
                <!-- Main News Slider Start -->
                <div class="container-fluid mt-4">
                    <div class="row">
                        <div class="col-lg-7 px-0">
                            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <img src="/static/images/v49_681.png" class="d-block w-100" alt="...">
                                        <div class="image-overlay"></div>
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>First slide label</h5>
                                            <p>Some representative placeholder content for the first slide.</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/v49_683.png" class="d-block w-100" alt="...">
                                        <div class="image-overlay"></div>
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>Second slide label</h5>
                                            <p>Some representative placeholder content for the second slide.</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/v49_674.png" class="d-block w-100" alt="...">
                                        <div class="image-overlay"></div>
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>Third slide label</h5>
                                            <p>Some representative placeholder content for the second slide.</p>
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-5 px-0">
                            <div class="row mx-0">
                                <div class="col-md-6 px-0 box">
                                    <div class="position-relative overflow-hidden" style="height: 230px;">
                                        <img class="img-fluid w-100 " style="height: 230px;"  src="/static/images/v49_210.png" style="object-fit: cover;">
                                        <div class="image-overlay"></div>
                                        <div class="overlay">
                                            <div class="mb-2">
                                                <a href=""><div class="image-caption">My Caption</div></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 px-0 box">
                                    <div class="position-relative overflow-hidden" style="height: 230px;">
                                        <img class="img-fluid w-100 " style="height: 230px;" src="/static/images/IMG_4020.PNG" style="object-fit: cover;">
                                        <div class="image-overlay"></div>
                                        <div class="overlay">
                                            <div class="mb-2">
                                                <a href=""><div class="image-caption">My Caption</div></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 px-0 box">
                                    <div class="position-relative overflow-hidden" style="height: 230px;">
                                        <img class="img-fluid w-100 " style="height: 230px;"  src="/static/images/v49_666.png" style="object-fit: cover;">
                                        <div class="image-overlay"></div>
                                        <div class="overlay">
                                            <div class="mb-2">
                                                <a href=""><div class="image-caption">My Caption</div></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 px-0 box">
                                    <div class="position-relative overflow-hidden" style="height: 230px;">
                                        <img class="img-fluid w-100" style="height: 230px;" src="/static/images/v49_670.png" style="object-fit: cover;">
                                        <div class="image-overlay"></div>
                                        <div class="overlay">
                                            <div class="mb-2">
                                                <a href=""><div class="image-caption">My Caption</div></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main News Slider End -->
            </section>
            <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
        </body> -->

